/**
 * Gongbi Skin
 * © 2015-2021 Issara
 * © 2022 WaitSpring
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */
@import 'variables.less';

// Override default here because mobile narrow
@content-padding: 0.5em;

/* Layout */

#mw-data-after-content {
	padding: 0 @content-padding;
}

.mw-footer {
	padding: 1.25em 1.75em;

	#footer-icons {
		.flex-display;
		.flex-wrap;
		justify-content: flex-end;
	}

	.footer-icons {
		clear: both;
		margin: 0 1em 1em 0;
	}
}

#p-variants-desktop,
#mw-page-header-links #ca-view,
#page-tools h2,
#page-more h2,
#other-languages h2,
#p-logo {
	display: none;
}

#mw-header-container {
	background: @background;
	padding: 0 1.5em 0;
}

#mw-header {
	.flex-display;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 @content-padding 0;
}

#p-search {
	.flex(1, 1, 100%, 4);
	margin: 0.25em 1em;
	
	.sidebar-inner {
		left: 0;
		max-width: 100%;
	}
}

/* Dropdowns */
.sidebar-inner,
.dropdown {
	display: none;
	.nav-block();
	background: @background;
	box-shadow: 0 2px 3px 1px rgba( 0, 0, 0, 0.05 );
	position: absolute;
	padding: 1em 2.5em;
	margin: 0;
	min-width: 9em;
	max-width: 80%;
	top: 6em;
	right: 0;
	overflow: visible;
	z-index: 100;

	h3 {
		margin: 0.5em 0 1.5em;
	}

	ul {
		margin: 1em 0 2em;
	}

	li {
		margin: 0 0 0.75em;
	}
}

#menus-cover {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background: @base80;
	opacity: 0.8;
	overflow: hidden;
}

/* Dropdown toggles */
#site-functions {
	.flex-display;
	.flex(0, 1, auto, 2);
		
	#sidebar-tools {
		.flex(0, 1, auto, 1);
		margin: 0.5em;
	}

	#search-button {
		.flex(0, 1, auto, 2);
		margin: 0.5em;
	}
}

#user-tools {
	.flex-display;
    .flex(0, 1, auto, 3);
	
	#personal {
		.flex(1, 1, auto, 2);
		padding: 0.5em 0;
		margin: 0 0.5em;
	}
}

#user-tools h2,
#sidebar-tools h2,
#search-button h2,
.sidebar-chunk h2 {
	cursor: pointer;
	margin: 0;
	width: 20px;
	height: 20px;
	padding-bottom: 0;
	font-size: 1em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;

	span {
		display: inline-block;
		.icon();
	}
}

#user-tools h2 {
	background-image: url( images/user-grey.svg );
	background-size: 20px;
	margin: 0 0.5em 0 0;
}

#sidebar-tools h2 {
	background-image: url( images/menu-grey.svg );
	background-size: 20px;
	margin: 0 0.5em;
}

#search-button h2 {
	background-image: url( images/search-ltr.svg );
	background-size: 20px;
	margin: 0 0.5em;
}

.mw-content-rtl #search-button h2 {
	background-image: url( images/search-rtl.svg );
	background-size: 20px;
	margin: 0 0.5em;
}

#site-navigation {
	h2 {
		display: none;

		&:after {
			display: none;
		}
	}

	.sidebar-inner {
		left: 0;
		right: auto;
	}
}

/* Logo */

#p-logo-text {
	.flex(1, 1, 100%, 1);
	
	a {
		padding: 0.25em 0;
		max-width: 5em;
		margin: auto;
	}
}

/* Page actions */

#p-namespaces li {
	margin-right: 1.5em;
}

.tools-inline li a {
	.ca-icon-only();
}

#ca-tools,
#ca-more,
#ca-languages {
	&:after {
		margin-left: -0.35em;
	}

	span {
		.ca-icon-only();
		display: inline-block;
		overflow: visible;
		width: 20px;
		height: 20px;
		margin-right: 7.5px;
	}
}

#ca-tools span {
	background-image: url( images/gear-grey.svg );
	background-repeat: no-repeat;
	background-size: 20px;
}

#ca-more span {
	background-image: url( images/more-grey.svg );
	background-repeat: no-repeat;
	background-size: 20px;
}

#ca-languages span {
	background-image: url( images/languages-grey.svg );
	background-repeat: no-repeat;
	background-size: 20px;
}

/* Full-width thumbnails */

div.thumb {
	float: none;
}

.thumb {
	margin: 1em auto;
}

.floatright,
.tright {
	margin-left: 0;
	padding-left: 0;
}

.floatleft,
.tleft {
	margin-right: 0;
	padding-right: 0;
}

.thumbinner {
	padding: 1em 1.5em;
	width: 100% !important;
	box-sizing: border-box;
}

.thumbimage {
	display: block;
	margin: 0 auto 0.5em;
}

.mw-body {
	border: 0;

	table {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		table {
			// HOLD ON WHAT ABORT ABORT
			width: unset;
			margin-left: unset;
			margin-right: unset;
		}
	}
}

#mw-content {
	padding: 1px 1.5em 2.5em;
	border-width: 0;
}

#mw-content-block {
	background: @background;
}

/* Table of contents */
.toc,
.mw-warning {
	width: 100%;
	box-sizing: border-box;
}

/* Misc */
.nomobile {
	display: none;
}

// Recent changes
.mw-changeslist-line {
	margin-left: 0 !important;
}

td.mw-enhanced-rc-nested {
	padding-left: 0 !important;
}
