/**
 * Gongbi Skin
 * © 2015-2021 Issara
 * © 2022 WaitSpring
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */
@import 'variables.less';

// Two-column layout
#mw-content-block {
	clear: both;
}

#p-logo-text {
	min-width: @column-left-size;
}

#user-tools {
	min-width: @column-right-size - 3.25em * 2;
	margin: auto 3.25em;
}

#mw-site-navigation,
#mw-related-navigation {
	.column-left();
	display: block;
	width: @column-left-size;
	position: relative;
}

#mw-site-navigation {
	// keep margins from overlapping
	overflow: hidden;
}

#mw-related-navigation > div.sidebar-chunk:first-child {
	margin-top: 0;
}

#mw-content {
	border: solid 0.5px @base80;
	border-width: 0 0 0 1px;
}

#mw-content-wrapper {
	float: right;
	margin-left: -@column-left-size;
	width: 100%;
}

#mw-content,
#content-bottom-stuff {
	margin-left: @column-left-size;
}

.ts-inner:not(.mw-footer) {
	max-width: @content-width - @column-right-size;
}

.mw-footer {
	margin: auto;
}

// Recent changes
.mw-changeslist-legend {
	float: none;
	margin: 0 0 0 auto;
	width: 200px;
}
