#site-toc {
	position: sticky;
	top: 4.475em;
}

#site-toc .mw-portlet-body {
	margin-bottom: 2em;
	padding-right: 1px;
	max-height: 50vh;
	overflow-y: auto;
}

#site-toc .toclevel-2 {
	display: none;
}

@media screen and ( max-width: 1340px ) {
	#site-toc {
		display: none;
	}
}
