/**
 * Gongbi Skin
 * © 2015-2021 Issara
 * © 2022 WaitSpring
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */
@import "mediawiki.mixins";

/* Default color scheme */
@base100: #ffffff;
@base95: #fbfcfd;
@base90: #f8f9fa;
@base80: #eaecf0;
@base75: #d9dce0;
@base70: #c8ccd1;
@base30: #72777d;
@base20: #54595d;
@base0: #000000;

@red: #d33;
@red-bright: #fee;
@red-dark: #b22;

@green: #0a8;
@green-bright: #cfc;
@green-dark: #181;

@blue: #36c;
@blue-bright: #def;
@blue-dark: #248;

@background: @base95;
@text: @base0;

@link: @blue;
@link-visited: @blue-dark;

@link-red: @red;
@link-red-visited: @red-dark;

@link-ext: #37a;
@link-ext-visited: darken(@link-ext, 10%);

/* Fonts are chosen for consistent metrics, not necessarily overall prettiness. */
@fonts-sans: "Noto Sans", "Helvetica Neue", "Helvetica", sans-serif;
@fonts-serif: "Noto Serif", "Times New Roman", "Times", serif;
@fonts-mono: "Noto Mono", "Consolas", "Monaco", "Courier", monospace;

@fonts: @fonts-sans;
@fonts-secondary: @fonts-serif;

@border: 1px;
@radius: 0.2em;

/* Should really be part of the theme, but currently too much alignment/positioning */
/* breaks if this is changed. */
@font-size: 0.95em;

/* Widths */

/* Remember to also update skin.json (and possibly mobile.js) if you change these */
/* For some reason doing @mobile-width + 1px doesn't seem to actually work, */
/* so we need both for each thing */
@mobile-width: 768px;
@desktop-mid-floor: 769px;
@desktop-mid-width: 1199px;
@desktop-large-floor: 1200px;

/* The max-width for the content */
@content-width: 120em;

@content-padding: 2em;

@column-left-size: 12em;
@column-right-size: 14em;

@fixed-header-height: 3.75em;

/* Functions */
@import "mixins.less";
