@import '../variables.less';

.mw-dismissable-notice-close {
	margin: 1em 1.25em;
}

.mw-dismissable-notice-body #localNotice {
	// reset the default; we're doing this elsewhere here
	background: transparent;
	padding: 0;
}

.mw-dismissable-notice {
	background: @base95;
	padding: 0;
}
