/**
 * Gongbi Skin
 * © 2015-2021 Issara
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */
@import '../variables.less';

@media screen {
	#upload-wizard {
		min-width: auto;
		max-width: none;
	}

	#mwe-upwiz-files {
		margin: auto;
	}

	.mwe-upwiz-count {
		clear: both;
	}

	.mwe-upwiz-progress-bar-etr {
		margin: auto;
		float: none;
	}

	#mwe-upwiz-stepdiv-details .mwe-upwiz-data {
		width: auto;
		max-width: 100%;
	}

	.oo-ui-tagItemWidget.oo-ui-widget-enabled:not(.oo-ui-tagItemWidget-fixed) {
		margin: 0.75em 0.25em;
	}

	.mwe-upwiz-copyMetadataWidget {
		padding: 1em 0;
	}

	.mwe-upwiz-copyMetadataWidget .mw-collapsible {
		padding-left: 0;
	}
}

@media screen and (max-width: @desktop-mid-floor) {
	.mwe-upwiz-deed-license-group-body {
		padding-left: 0;
	}
}